@charset "utf-8";
/* CSS Document */
* { margin: 0; padding:0;}
.total {width:1350px; height:auto; background:#CCC }
.top1 {width:1350px; height:35px; float:left; background:#E94616; line-height:35px; color:#FFF; position:relative;}
.chao {
	position: absolute;
	left: 400px;
	top: 5px;
}
.icone>a {position:absolute; right:455px;}
#iconf>a {position:absolute; right:425px; color::#FFF; font-size:25px;}
#icontube>a {position: absolute; right:390px; color:#FFF; font-size:28px;}
.top2 {width:1350px; height:100px;float:left; background:#FFF; position:relative;}
.timkiem {position:absolute; top:10px; left:300px; border-radius:50px; height:40px;}
.icontim {position: absolute;right:650px; top:25px;color:#0F6;}
table {position:absolute; right:400px; top:20px; color::#0CF}
#text {color:#000;}
.img {position:absolute; top:15px; left:400px;}
.top3 {width:1350px; height:35px;float:left; background:#C93; position:relative;}
li {list-style:none;}
a {text-decoration:none;}
.top3 ul>li>a {text-decoration:none; color:#FFF;}
.top3 ul>li{padding:0px 20px;line-height:35px; font-weight:bold; float:left; position:relative; width:130px;}
.top3 ul>li:hover {background:#999;}
.top3 ul>li>ul>li>a {text-decoration:none; color:#000; font-size:12px;}
.top3 ul>li>ul {display:none;position:absolute; background:#FFF; left:0px; z-index:1;}
.top3 ul>li>ul>li>a:hover {color:#FFF;}
.top3 ul>li:hover>ul {display:block;}

.menutd {width:220px;height:410px;float:left; background:#FFF; position:relative;}
.menutd {padding:10px 10px;border-radius:5px; }
.menutd>ul>li {list-style:none;}
.menutd>ul>li>a{ color:#0CF; padding:10px 10px;}
.menutd>ul>li {height:40px; border-bottom:1px dotted; line-height:40px;position:relative;}
.menutd>ul>li>a:hover {color:#6C0;}
.menutd>ul>li>ul{display:none; position:absolute; background:#FFF; left:230px; width:100px; top:0px; padding:5px 20px; z-index:2;}
.menutd>ul>li>ul>li>a {color:#3C6; font-size:12px; line-height:40px;}
.menutd>ul>li:hover>ul {display:inline;}

#center{width:700px; height:600px;float:left; position:relative}
#right{width:430px; height:600px; float:left; position:relative}
#slide {margin-top:20px; margin-left:10px;}
#banner {margin-top:5px; left:650px;}
.imgslide {background-image:}
#prev {position:absolute; left:10px;top:170px;}
#next {position:absolute;  right:220px;top:170px;}
#dcmenu {position:absolute; left:400px;}
.clear {clear:both;}
